.header {
    height: 70px;
    background-color: rgba(24, 34, 45, 0.93);
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    z-index: 3000;
    width: 100vw;
    padding-right: 10px;
    font-size: larger;
    backdrop-filter: blur(3px);
}
.row-header {
    margin: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: large;
}