* {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #18222d;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
a {
    color: white;
    text-decoration: none;
    margin: 3px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    margin-right: 40px;
    font-size: larger;
}
a:hover {
    border: 2px solid #5f77be;
    border-radius: 20px;
}